@font-face {
  font-family: 'pychess';
  src:  url('fonts/pychess.eot?xhveaq');
  src:  url('fonts/pychess.eot?xhveaq#iefix') format('embedded-opentype'),
    url('fonts/pychess.ttf?xhveaq') format('truetype'),
    url('fonts/pychess.woff?xhveaq') format('woff'),
    url('fonts/pychess.svg?xhveaq#pychess') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[data-icon]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pychess' !important;
  content: attr(data-icon);
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pychess' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  font-size: 1rem;
  --main-margin: 0;
  --main-max-width: 1300px;
  --gauge-gap: 1.0625em;
  --site-header-height: 3.75em;
  --site-header-margin: 0px;
  --base-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --btn-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.1);
  --dark-mode: 0;
  --font-color: #4d4d4d;
  --link-color: #5e5e5e;
  --link-hover: #1b78d0;
  --text-shadow: #fff;
  --bg-body: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9 116px)
    no-repeat;
  --bg-color0: #fff;
  --bg-color1: White;
  --bg-color2: WhiteSmoke;
  --bg-seek: rgba(255, 255, 255, 0.8);
  --bg-meta: #f7f6f5;
  --bg-input: #fafaf9;
  --game-hover: #d1e6fa;
  --green-hover: #89b25b;
  --green-switch: #629924;
  --blue-active: #d1e4f6;
  --blue-passive: #c5d8e9;
  --blue-hover: #1b78d0;
  --invite-game: #eff5e9;
  --good: #629924;
  --bad: #c33;
  --gold: #d59020;
  --rusty: rgba(214, 79, 0, 0.5);
  --ct-current: #e2834d;
  --clock-hurry-bg: MistyRose;
  --clock-overtime-bg: #fffbad;
  --clock-running-bg: rgb(208, 224, 189);
  --clock-running-color: Black;
  --white-text: #d0d0d0;
  --black-text: #606060;
  --blue-text: RoyalBlue;
  --red-text: Crimson;
  --gold-text: GoldenRod;
  --pink-text: Pink;
  --green-text: Green;
  --gray-text: #808080;
  --modal-bg: #fff;
  --box-header: #f5f5f5;
  --button-new-game: linear-gradient(to bottom, #f5f5f5 0%, #ededed 100%);
  --button-new-game-hover: linear-gradient(to bottom, #fafafa 0%, #f2f2f2 100%);
  --button-text: #787878;
  --button-text-hover: #787878;
  --scrollbar-thumb: #dbdbdb;
  --scrollbar-thumb-hover: #b3b3b3;
  --input-border: #ccc;
  --leaderboard: #bf811d;
  --leaderboard-even: #302e2c;
  --btn-controls: #fff;
  --rematch: linear-gradient(to bottom, #f5f5f5 0%, #ededed 100%);
  --rematch-hover: #5fa1de;
  --link-color-blue: #004f98;
  --border-color: #d9d9d9;
  --checkbox-bg: #a1c27c;
  --checkbox-border: #e3e3e3;
  --checkbox-checked: #7daa49;
  --post-hover: #ddebf8;
  --vpanel-button: #fbfbfb;
  --vpanel-button-hover: #fdfdfd;
  --box-shadow-panel-btn: 0px 2px 3px #7b7b7b85;
  --chat-entry-border-top: #d9d9d9;
  --chat-entry-bg: #fafaf9;
  --toggle-bg: #c0c0c0;
  --slider-border: #a9a9a9;
}

[data-theme="dark"] {
  --dark-mode: 1;
  --font-color: #bababa;
  --link-color: #999;
  --link-hover: #3692e7;
  --text-shadow: none;
  --bg-body: #161512 linear-gradient(to bottom, #2e2a24, #161512 116px)
    no-repeat;
  --bg-color0: #262421;
  --bg-color1: #2e2a24;
  --bg-color2: #302e2c;
  --bg-seek: #2e2a24;
  --bg-meta: #302e2c;
  --bg-input: #24221e;
  --game-hover: #223344;
  --green-hover: #537c23;
  --blue-active: #293a49;
  --blue-passive: #33312e;
  --blue-hover: #3692e7;
  --invite-game: #2c3021;
  --gold: #bf811d;
  --rusty: rgba(126, 57, 16, 0.9);
  --ct-current: #a1420a;
  --clock-hurry-bg: #502826;
  --clock-overtime-bg: #474722;
  --clock-running-bg: #384722;
  --clock-running-color: #e3e3e3;
  --modal-bg: rgb(38, 36, 33);
  --box-header: linear-gradient(to bottom, #3c3934, #33312e 100%);
  --button-new-game: linear-gradient(to bottom, #3c3934, #33312e 100%);
  --button-new-game-hover: linear-gradient(
    rgb(68, 65, 59),
    rgb(59, 57, 53) 100%
  );
  --button-text: #999;
  --button-text-hover: #ccc;
  --scrollbar-thumb: #4d4d4d;
  --scrollbar-thumb-hover: #6b6b6b;
  --input-border: #444;
  --leaderboard: #bf811d;
  --leaderboard-even: #302e2c;
  --btn-controls: rgb(48, 46, 44);
  --rematch: linear-gradient(to bottom, #3c3934, #33312e 100%);
  --rematch-hover: #3171ac;
  --link-color-blue: #3692e7;
  --border-color: #404040;
  --checkbox-bg: #3b5c16;
  --checkbox-border: #4f7a1d;
  --post-hover: #29353f;
  --vpanel-button: #3c3a35;
  --vpanel-button-hover: #464440;
  --panel-link-hover: rgb(179, 179, 179);
  --box-shadow-panel-btn: none;
  --chat-entry-border-top: #404040;
  --chat-entry-bg: #262421;
  --toggle-bg: #696969;
  --slider-border: #7a7a7a;
}

html {
  font-size: 1rem;
  min-height: 100%;
  font-family: "Noto Sans", Sans-Serif;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: var(--font-color);
  background: var(--bg-body);
  cursor: default;
}

#main-wrap {
  display: grid;
  grid-template-columns:
    var(--main-margin) 1fr minmax(auto, var(--main-max-width))
    1fr var(--main-margin);
  grid-template-areas: ". . main . .";
  margin-top: var(--site-header-margin);
}

@media (max-width: 799px) and (orientation: portrait) {
    #main-wrap {
        --main-max-width: calc(100vh - calc(var(--site-header-height) + var(--site-header-margin)) - 100px - 2.5em);
    }
}

a {
  white-space: break-spaces;
}
a,
.user-link:link,
.user-link:visited {
  color: var(--font-color);
  text-decoration: none;
  white-space: break-spaces;
  overflow: hidden;
}
a,
.user-link,
.user-link:active {
  color: var(--link-color);
}
a:hover,
.user-link:hover {
  color: var(--link-hover);
}
p a,
.news ul li a {
  color: var(--link-hover);
}
div a {
  cursor: pointer;
}
