.news div > * {
    margin: .5em 3em .5em 3em;
}
.news div > ul,
.news div > ol > li,
.li2 > li {
    margin: .5em 3em .5em 3em;
}

.news h2 {
    margin-left: 2em;
}

iframe {
    display: block;
    margin: auto;
}
@media (max-width: 799px) and (orientation: portrait) {
    div.news > * {
        width: 100%;
    }
    .news div > * {
        margin: .5em ;
    }
}

